.product-section {
    padding: 80px 30px;
    background: #ffffff;
}

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.product-left {
    width: 50%;
    display: block;
    position: relative;
}

.product-right {
    width: 50%;
    display: block;
    position: relative;
}

.show-mobile .swiper-pagination,
.show-mobile .swiper-button-next,
.show-mobile .swiper-button-prev {
    display: none;
}

.show-mobile {
    position: relative;
}

.swiper-pagination {
    position: absolute;
    top: 0px;
    text-align: right;
}

.swiper-button-next {
    position: absolute;
    top: 0px;
}

..swiper-button-prev {
    position: absolute;
    top: 0px;
}

/* .product-left h2 {
    font-size: 28px;
    color: #4b5d3c;
    margin-bottom: 15px;
}

.product-left p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

.product-icon {
    width: 30px;
    margin-bottom: 10px;
}

.product-product-card img {
    width: 100%;
    border-radius: 6px;
}

.product-product-card h4 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.product-product-card .price {
    font-weight: bold;
    color: #222;
}

/* Mobile */
@media (max-width: 768px) {
    .product-section {
        padding: 40px 15px;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .product-left {
        width: 100%;
    }

    .product-right {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .product-section {
        padding: 40px 15px;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .product-left {
        width: 100%;
    }

    .product-right {
        width: 100%;
    }
}

@media (max-width: 640px) {

    .show-mobile .swiper-pagination,
    .show-mobile .swiper-button-next,
    .show-mobile .swiper-button-prev {
        display: block;
    }
}